.container_wrapper {
    display: flex;
    width: 100%;
}

.container_wrapper .card {
    width: 100%;
}

.container_wrapper .mobile {
    background-color: #ffcccc;
}

.container_wrapper .tablet {
    background-color: #9999ff;
}

.container_wrapper .desktop {
    background-color: #99ff66;
}

@media only screen and (max-width: 960px) {
    .container_wrapper .desktop {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .container_wrapper .desktop {
        display: none;
    }
    .container_wrapper .tablet {
        display: none;
    }
}